// Primary color
$orange: hsl(25, 97%, 53%);

// Neutral colors
$white: hsl(0, 0%, 100%);
$light_grey: hsl(217, 12%, 63%);
$medium_grey: hsl(216, 12%, 54%);
$dark_blue: hsl(213, 19%, 18%);
$very_dark_blue: hsl(216, 12%, 8%);

// a color
$a: hsl(228, 45%, 44%);

// font weights
$fw-400: 400;
$fw-700: 700;

// font size
$fs-15: 15px;

// circle sizee
$circle-size: 65px;
$circle-radius: 30px;
$circle-color: rgba(112, 112, 112, 0.87);
